#title
{   
    padding-top: 40px;
    padding-bottom: 60px;
}
.titleimg
{
    width: 70%;
    border-radius: 100%;
    margin: 25px;
}
#footed
{
    text-align: center;
    padding: 2.5% 15% ;
}
.social-icon
{
    padding-left: 10px ;
    padding-right: 10px;
}
.navimg
{
    width: 10%;
    border-radius: 100%;
    
}








